.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    color: #2f80ed;
    font-weight: normal;
    text-decoration: none;
}
.khan__buy-link:hover {
    opacity: 0.8;
    transition: opacity  0.9s ease-in-out;
}